
body{
    background: rgb(158,189,238);
    background: linear-gradient(180deg, rgba(158,189,238,1) 0%, rgba(238,238,241,1) 100%);
    height: 100vh;
}
canvas {
    background: white;
    width:50vw;
    height:50vh;
    position:absolute;
    margin: 1rem;
    /* transform: translate(-50%,-50%); */
    filter: drop-shadow(0.3rem 0.3rem 0.19rem rgba(0, 0, 0, 0.5));
}